<header class="bg-primary p-2">
    <h1 class="position-absolute">
      <%= link_to root_path do %>
        <i class="bi bi-caret-left-fill m-2 fs-4 rounded p-2 text-dark"></i>
      <% end %>
    </h1>
    <h1 class="text-center text-light"> Add Group </h1>
  </header>
  
  <div>
    <%= render "shared/group_form" %>
  </div>